{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h1>Envie a sua mensagem:</h1>
        <p>Você pode falar com a gente, sempre que precisar. Tanto por e-mail ou pelas redes sociais. Abaixo estão os nossos contatos.</p>
        <h4>Fale conosco</h4>
        <ul>
            <li>E-mail: <a href="mailto:contato@datafresh.org">datafresh@datafresh.com.br</a></li>
            <li>Twitter: <a href="https://twitter.com/datafresh"></a></li>
            <li>Facebook: <a href="https://twitter.com/datafresh"></a></li>
        </ul>
    </div>
</div>
{% endblock %}