{% extends "base.html" %}

{% block content %}
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    Bem-vindo a nossa área de Compartilhamento da Informação e Conhecimento-(CIC).
                </h1>
                <h2 class="splash-subhead">
                    O nosso objetivo é contribuir com a comunidade de big data e analytics, simplificando o aprendizado a distância, oferecendo treinamentos e conteúdos de qualidade, para aqueles que querem trocar informação e conhecimento.
                </h2>
                <p>
                    <a href="#" class="pure-button primary-button">Saiba mais</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Vídeo-aulas e diversos materiais</h4>
            <h3>Conheça os nossos Cursos</h3>
            <p>
                A nossa plataforma é muito simples e prática. Qualquer pessoa interessada em obter informação e conhecimento, consegue facilmente acessar as várias vídeo-aulas ou outros materiais digitais, como por exemplo: pdf, slides, imagens, etc...
            </p>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
                 alt="Vídeo-aulas e diversos materiais">
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
                 alt="Fórum de dúvidas">
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Fórum de dúvidas</h4>
            <h3>Tenha acesso a um ambiente dinâmico e interativo</h3>
            <p>
                Aqui você terá acesso a um sistema de fórum. Possibilitando que você e outros participantes, possam interagir entre si. Isto torna o processo de aprendizado mais dinâmico e rico.
                Favorecendo principalmente, na troca de conhecimento, em um aumento na comunicação entre os participantes e no compartilhamento de informações.
            </p>
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Atividades</h4>
            <h3>Aprenda praticando</h3>
            <p>
                Aqui você vai aprender na prática, através de atividades desafiadoras. Isso serve para fortalecer o seu aprendizado durante o Curso e também apontar as suas dificuldades no assunto. 
                Todo o controle de notas e resolução das atividades é controlado pela plataforma, facilitando sua vida
                e também de todos os envolvidos.
            </p>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
                 alt="Atividades">
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
                 alt="Mural de Avisos">
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Mural de Avisos</h4>
            <h3>Fique por dentro de tudo o que está acontecendo</h3>
            <p>
                Nunca foi tão fácil e simples, organizar e comunicar avisos ou notícias, sobre a aula, a atividade do
                dia, ou mesmo sobre eventos importantes de interesse comum a todos. 
                Fique por dentro de tudo o que está acontecendo e não perca nenhuma oportunidade de aprender cada vez mais.
            </p>
        </div>
    </div>
</div>
{% endblock %}